<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppPurchasesDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>410B2AE91ED55CA200B39984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>410B2AFD1ED55CA200B39984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>410B2B081ED55CA200B39984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
